.hamburger-menu {
  display: none;
  position: relative;
}

.hamburger-button {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 2px #000,
      0 0 0 2px #000;
}

.hamburger-button:focus {
  outline: none;
}

.hamburger-button:active {
  box-shadow: 0 0 0 2px #000;
  border: none;
}

.hamburger-button:hover {
  background-color: #ddd;
}

.hamburger-button:hover .hamburger-icon, 
.hamburger-button:hover .hamburger-icon::after, 
.hamburger-button:hover .hamburger-icon::before {
  background-color: #333;
}

.hamburger-icon {
  background-color: #ddd;
  display: block;
  height: 2px;
  position: relative;
  width: 20px;
  margin: 5px 0;
}

.hamburger-icon::before,
.hamburger-icon::after {
  background-color: #ddd;
  content: '';
  height: 2px;
  position: absolute;
  width: 20px;
  left: 0;
}

.hamburger-icon::before {
  top: -6px;
}

.hamburger-icon::after {
  top: 6px;
}

.hamburger-links {
  background-color: #f9f9f9;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 40px;
  width: 200px;
}

.hamburger-links li {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.hamburger-links li:last-child {
  border-bottom: none;
}

.hamburger-links a {
  color: #333;
  text-decoration: none;
}

.hamburger-links a:hover {
  color: #666;
}


/* Show the hamburger menu on smaller screens */
@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }
}