/* components/Hero/Hero.css */

.Hero {
  min-height: 100vh;
  height: 100vh;
  position: relative;
  display: flex;
  overflow: hidden;
}

.hero-content {
    position: absolute;
    width: 100%;
    flex-direction: column;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
}

.searchlights {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.searchlight {
    position: absolute;
    height: 100%;
    width: 80px;
    transform-origin: bottom center;
    background-image: url("/src/assets/images/backgrounds/searchlight.png");
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-50%) rotate(-45deg);
    animation: animateSearchlights ease-in-out infinite reverse;
}

@keyframes animateSearchlights {
    0% {
        transform: translateX(-50%) rotate(-45deg);
    }
    50% {
        transform: translateX(-50%) rotate(45deg);
    }
    100% {
        transform: translateX(-50%) rotate(-45deg);
    }
}

.searchlight::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 80px;
    height: 10px;
    background-image: linear-gradient(to bottom, var(--color-primary), transparent);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.searchlight::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    background: var(--color-primary);
    border-radius: 50%;
    transform: translate(-50%, 50%);
}

.searchlight.sl-01 {
    bottom: 0;
    left: 20%;
    animation-delay: 0s;
    animation-duration: 10.7s;
}

.searchlight.sl-02 {
    bottom: 0;
    left: 40%;
    animation-delay: .9s;
    animation-duration: 10s;
}

.searchlight.sl-03 {
    bottom: 0;
    left: 60%;
    animation-delay: .3s;
    animation-duration: 10.5s;
}

.searchlight.sl-04 {
    bottom: 0;
    left: 80%;
    animation-delay: .6s;
    animation-duration: 10.2s;
}

.hero-content p {
    font-size: 1rem;
    font-family: var(--font-primary);
}

.hero-btn {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .hero-content {
        padding: .5rem;
        bottom: 5rem;
    }
}