/* components/Hero/Hero.css */

.Hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 800px;
}

h2 {
    font-size: 1.5rem;
    font-family: var(--font-emphasis);
}

p {
    font-size: 1rem;
    font-family: var(--font-primary);
}

.hero-btn {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}