/* components/Frame/Frame.css */

.frame-container {
    display: grid;
    grid-template-columns: var(--border-width) 1fr var(--border-width);
    grid-template-rows: var(--border-width) 1fr var(--border-width);
    gap: 0;
}

.top-left {
    background-color: var(--color-primary);
    border-radius: var(--top-left-radius);
}

.top-center {
    background-color: var(--color-primary);
    background-image: var(--top-center-pattern);
    background-size: var(--top-center-pattern-size);
}

.top-right {
    background-color: var(--color-primary);
    border-radius: var(--top-right-radius);
}

.left-center {
    background-color: var(--color-primary);
    background-image: var(--left-center-pattern);
    background-size: var(--left-center-pattern-size);
}

.center {
    padding: .25rem;
}

.right-center {
    background-color: var(--color-primary);
    background-image: var(--right-center-pattern);
    background-size: var(--right-center-pattern-size);
}

.bottom-left {
    background-color: var(--color-primary);
    border-radius: var(--bottom-left-radius);
}

.bottom-center {
    background-color: var(--color-primary);
    background-image: var(--bottom-center-pattern);
    background-size: var(--bottom-center-pattern-size);
}

.bottom-right {
    background-color: var(--color-primary);
    border-radius: var(--bottom-right-radius);
}

.top-left, .top-center, .top-right {
    grid-row: 1;
}

.left-center, .center, .right-center {
    grid-row: 2;
}

.bottom-left, .bottom-center, .bottom-right {
    grid-row: 3;
}

.top-left, .left-center, .bottom-left {
    grid-column: 1;
}

.top-center, .center, .bottom-center {
    grid-column: 2;
}

.top-right, .right-center, .bottom-right {
    grid-column: 3;
}

/* STYLES */

.header-frame,
.hero-frame,
.section-frame,
.logo-frame,
.navbar-frame,
.navLinks-frame,
.page-frame,
.card-frame,
.photo-frame,
.button-frame,
.footer-frame {
    --border-width: 0;
    --top-left-radius: 0;
    --top-right-radius: 0;
    --bottom-left-radius: 0;
    --bottom-right-radius: 0;
    --top-center-pattern: none;
    --left-center-pattern: none;
    --right-center-pattern: none;
    --bottom-center-pattern: none;
    --top-center-pattern-size: 0;
    --left-center-pattern-size: 0;
    --right-center-pattern-size: 0;
    --bottom-center-pattern-size: 0;
}

.button, .all {
    --border-width: 5px;
    --top-left-radius: 100% 0 0 0;
    --top-right-radius: 0 100% 0 0;
    --bottom-left-radius: 0 0 0 100%;
    --bottom-right-radius: 0 0 100% 0;
}
