/* components/Frame/Frame.css */

.frame-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: var(--border-width) 1fr var(--border-width);
    grid-template-rows: var(--border-width) 1fr var(--border-width);
    gap: 0;
    transform: translateZ(0); /* Force GPU */
    backface-visibility: hidden;
    min-width: calc(3 * var(--border-width));
    min-height: calc(3 * var(--border-width));
}

.frame-container > div {
    background-clip: padding-box;
}

.top-left {
    background-image: url("/src/assets/images/frames/top-start-photo.svg");
    background-size: cover;
}

.top-center {
    background-image: url("/src/assets/images/frames/top-photo.svg");
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: center top;
    image-rendering: pixelated;
    transform: translateZ(0);
}

.top-right {
    background-image: url("/src/assets/images/frames/top-end-photo.svg");
    background-size: cover;
}

.left-center {
    background-image: url("/src/assets/images/frames/start-photo.svg");
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: center left;
    image-rendering: pixelated;
    transform: translateZ(0);
}

.center {
    padding: .25rem;
}

.right-center {
    background-image: url("/src/assets/images/frames/end-photo.svg");
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: center right;
    image-rendering: pixelated;
    transform: translateZ(0);
}

.bottom-left {
    background-image: url("/src/assets/images/frames/bottom-start-photo.svg");
    background-size: cover;
}

.bottom-center {
    background-image: url("/src/assets/images/frames/bottom-photo.svg");
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: center bottom;
    image-rendering: pixelated;
    transform: translateZ(0);
}

.bottom-right {
    background-image: url("/src/assets/images/frames/bottom-end-photo.svg");
    background-size: cover;
}

.top-center,
.left-center,
.right-center,
.bottom-center {
    background-size: contain;
}

/* Grid */

.top-left, .top-center, .top-right {
    grid-row: 1;
}

.left-center, .center, .right-center {
    grid-row: 2;
}

.bottom-left, .bottom-center, .bottom-right {
    grid-row: 3;
}

.top-left, .left-center, .bottom-left {
    grid-column: 1;
}

.top-center, .center, .bottom-center {
    grid-column: 2;
}

.top-right, .right-center, .bottom-right {
    grid-column: 3;
}

/* STYLES */

.header-frame,
.hero-frame,
.section-frame,
.logo-frame,
.navbar-frame,
.navLinks-frame,
.page-frame,
.card-frame,
.photo-frame,
.button-frame,
.footer-frame {
    --border-width: 0;
    --top-left-radius: 0;
    --top-right-radius: 0;
    --bottom-left-radius: 0;
    --bottom-right-radius: 0;
    --top-center-pattern: none;
    --left-center-pattern: none;
    --right-center-pattern: none;
    --bottom-center-pattern: none;
    --top-center-pattern-size: 0;
    --left-center-pattern-size: 0;
    --right-center-pattern-size: 0;
    --bottom-center-pattern-size: 0;
}

.button, .all {
    --border-width: 25px;
    --top-left-radius: 100% 0 0 0;
    --top-right-radius: 0 100% 0 0;
    --bottom-left-radius: 0 0 0 100%;
    --bottom-right-radius: 0 0 100% 0;
}