/* components/Frame/Frame.css */

.frame-container {
    display: grid;
    grid-template-columns: var(--border-width) 1fr var(--border-width);
    grid-template-rows: var(--border-width) 1fr var(--border-width);
    gap: 0;
}

.top-left {
    background-image: url("/src/assets/images/frames/top-start-photo.svg");
    background-size: cover;
}

.top-center {
    background-image: url("/src/assets/images/frames/top-photo.svg");
    background-size: contain;
    background-repeat: repeat-x;
}

.top-right {
    background-image: url("/src/assets/images/frames/top-end-photo.svg");
    background-size: cover;
}

.left-center {
    background-image: url("/src/assets/images/frames/start-photo.svg");
    background-size: contain;
    background-repeat: repeat-y;
}

.center {
    padding: .25rem;
}

.right-center {
    background-image: url("/src/assets/images/frames/end-photo.svg");
    background-size: contain;
    background-repeat: repeat-y;
}

.bottom-left {
    background-image: url("/src/assets/images/frames/bottom-start-photo.svg");
    background-size: cover;
}

.bottom-center {
    background-image: url("/src/assets/images/frames/bottom-photo.svg");
    background-size: contain;
    background-repeat: repeat-x;
}

.bottom-right {
    background-image: url("/src/assets/images/frames/bottom-end-photo.svg");
    background-size: cover;
}

/* OLD FRAME CSS



.top-left {
    background-color: var(--color-primary);
    border-radius: var(--top-left-radius);
}

.top-center {
    background-color: var(--color-primary);
    background-image: var(--top-center-pattern);
    background-size: var(--top-center-pattern-size);
}

.top-right {
    background-color: var(--color-primary);
    border-radius: var(--top-right-radius);
}

.left-center {
    background-color: var(--color-primary);
    background-image: var(--left-center-pattern);
    background-size: var(--left-center-pattern-size);
}

.center {
    padding: .25rem;
}

.right-center {
    background-color: var(--color-primary);
    background-image: var(--right-center-pattern);
    background-size: var(--right-center-pattern-size);
}

.bottom-left {
    background-color: var(--color-primary);
    border-radius: var(--bottom-left-radius);
}

.bottom-center {
    background-color: var(--color-primary);
    background-image: var(--bottom-center-pattern);
    background-size: var(--bottom-center-pattern-size);
}

.bottom-right {
    background-color: var(--color-primary);
    border-radius: var(--bottom-right-radius);
}

/* Grid */

.top-left, .top-center, .top-right {
    grid-row: 1;
}

.left-center, .center, .right-center {
    grid-row: 2;
}

.bottom-left, .bottom-center, .bottom-right {
    grid-row: 3;
}

.top-left, .left-center, .bottom-left {
    grid-column: 1;
}

.top-center, .center, .bottom-center {
    grid-column: 2;
}

.top-right, .right-center, .bottom-right {
    grid-column: 3;
}

/* STYLES */

.header-frame,
.hero-frame,
.section-frame,
.logo-frame,
.navbar-frame,
.navLinks-frame,
.page-frame,
.card-frame,
.photo-frame,
.button-frame,
.footer-frame {
    --border-width: 0;
    --top-left-radius: 0;
    --top-right-radius: 0;
    --bottom-left-radius: 0;
    --bottom-right-radius: 0;
    --top-center-pattern: none;
    --left-center-pattern: none;
    --right-center-pattern: none;
    --bottom-center-pattern: none;
    --top-center-pattern-size: 0;
    --left-center-pattern-size: 0;
    --right-center-pattern-size: 0;
    --bottom-center-pattern-size: 0;
}

.button, .all {
    --border-width: 25px;
    --top-left-radius: 100% 0 0 0;
    --top-right-radius: 0 100% 0 0;
    --bottom-left-radius: 0 0 0 100%;
    --bottom-right-radius: 0 0 100% 0;
}


.box {
    display: grid;
    grid-template-columns: 30px 1fr 30px; /* First and third columns 30px, center column ??/auto */
    grid-template-rows: 30px 1fr 30px; /* First and third rows 30px, center row ??/auto */
  }
  
  /* All elements design */
  .ul-c, .ur-c, .ll-c, .lr-c,
  .uc, .lc, .cl, .cr {
    background-image: url("https://lh3.googleusercontent.com/ogw/AF2bZyhiFDDrK0TPGkBlsmPDCCSOgh9r1abRBVszmKw7xhrbPSk=s32-c-mo"); /* Image */
    background-position: center; /* this takes the background image and centers it while it repeats */
    position: relative; /* This helps for seudo elements */
  }
  
  /* Testing center center sizing */
  .content {
    width: 500px;
    height: 200px;
  }
  
  /* Adding Seudo Elements: All the same for now*/
  .uc::before,
  .lc::before, 
  .cl::before,
  .cr::before {
    content: ""; /* no text inside */
    background: blue; /* color/placeholder for graphic */
    height: 40px; /* Square */
    width: 40px; /* Square */
    position: absolute; /* helps position item */
    top: 50%; /* center from the top of parent */
    left: 50%; /* center from left of parent */
    transform: translate(-50%, -50%); /* uses the center/center of seudo element for positioning */
  }
