/* components/Resume/Skills/Skills.css */

li {
    list-style: none;
}

.left {
    text-align: right;
}

.right {
    text-align: left;
}

.center {
    text-align: center;
}

.skills-display-lg {
    display: grid;
    grid-template-columns: 1fr 1fr;}

.skills-display-lg ul {
    padding: 1rem;
    margin: 0;
}

.skills-display-sm {
    display: none;
}

@media screen and (max-width: 768px) {
    .skills-display-sm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .skills-display-lg {
        display: none;
    }
}