/* components/Testimonials/Testimonials.css */

.testimonials h2 {
    text-align: center;
    font-family: var(--font-emphasis);
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.testimonials-list {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 0 auto;
}