/* components/Header/Header.css */

.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
