/* components/Header/Header.css */

.header-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Header {
    display: flex;
    justify-content: center;
    align-items: center;
}