/* components/Resume/Header/Header.css */

.Resume-Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 12px;
}

.Resume-Header h1 {
    text-align: center;
    font-family: var(--font-emphasis);
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: .5rem;
}

.Resume-Header p {
    text-align: center;
}

.Resume-Header p a {
    text-decoration: none;
    color: var(--color-primary);
}

.Resume-Header p a:hover {
    text-decoration: underline;
    color: var(--color-accent);
}
