/* components/Footer/Footer.css */

.footer {
	display: flex;
	min-height: var(--footer-height);
	justify-content: center;
	align-items: center;
	font-size: .75rem;
}

ul.footer-links {
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	margin: 0 0 .25rem 0;
}

.footer-links li,
.footer-link a i,
.footer-link a span {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 .25rem;
}