/* App.css or global.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
  margin: 0 auto; /* Center the content horizontally */
  text-align: center;
}

.Routes {
  flex: 1; /* Take up remaining space */
}


